{% extends  'core/base.html' %}


{% block  content %}
    <div class="container">
        <h1>Dashboard</h1>

        <div class="columns">
            <div class="column is-3">
                <div class="card card-link">                
                    <div class="card-content">
                        <div class="media">   
                            <div class="media-content"> 
                                <p class="title is-4">Link title</p>
                            </div>             
                        </div>   
                        <div class="content">
                            This is the description link 
                        </div>                                   
                    </div>
                    <footer class="card-footer">
                        <a href="#"  class="card-footer-item" target="_blank">Visit</a>
                        <a href="#"  class="card-footer-item" target="_blank">Edit</a>
                    </footer>                
                </div>                
            </div>   

            <div class="column is-3">
                <div class="card card-link">                
                    <div class="card-content">
                        <div class="media">   
                            <div class="media-content"> 
                                <p class="title is-4">Link title</p>
                            </div>             
                        </div>   
                        <div class="content">
                            This is the description link 
                        </div>                                   
                    </div>
                    <footer class="card-footer">
                        <a href="#"  class="card-footer-item" target="_blank">Visit</a>
                        <a href="#"  class="card-footer-item" target="_blank">Edit</a>
                    </footer>                
                </div>                
            </div> 
            <div class="column is-3">
                <div class="card card-link">                
                    <div class="card-content">
                        <div class="media">   
                            <div class="media-content"> 
                                <p class="title is-4">Link title</p>
                            </div>             
                        </div>   
                        <div class="content">
                            This is the description link 
                        </div>                                   
                    </div>
                    <footer class="card-footer">
                        <a href="#"  class="card-footer-item" target="_blank">Visit</a>
                        <a href="#"  class="card-footer-item" target="_blank">Edit</a>
                    </footer>                
                </div>                
            </div>                  
        </div>

    
    </div>
{% endblock  %} 