{% extends  'core/base.html' %}


{% block  content %}
    <section class="hero is-medium is-link is-bold has-text-centered">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">My name is,  Ayad Murate Carlos Ossaile</h1>
                    <h2 class="subtitle">This work for interview  job in United Fruit Company</h2>
                    <p>When you login you will se the button for Logout color red, and button for dashboard</p>

                </div>
            </div>
    </section>
{% endblock  %} 